.payment,
.otp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    z-index: 1000;
}

.paymentProsess,
.invoice-form {

    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),

        0 6px 20px rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease-in-out;
}


.paymentProsess p,
.paymentProsess .adreass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 0px 10px;
    height: 3rem;
}

.invoice-form {
    width: 350px;
}

.invoice-form h2 {
    margin-top: 0;
}

.line-through {
    text-decoration: line-through;
}

.payment,
.otp,
.f {
    margin: 20px;
}


.info-icon {
    cursor: pointer;
}

.cancel-btn {
    cursor: pointer;
    color: red;
    float: right;
}

.h6 {
    color: red;
    font-size: 0.8rem !important;
    border: none !important;

}

.address-warning {
    display: flex;
    gap: 1rem;
}





.invoice-form {
    width: 400px;
}

.invoice-form h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 24px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#security-code {
    width: calc(100% - 44px);
    display: inline-block;
}

.info-icon {
    display: inline-block;
    margin-left: 4px;
    background: #ccc;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}