* {
    margin: 0;
    border: border-box;
    text-decoration: none !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.navbars {

    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

.sidebar-item:hover {
    background-color: #485769;
    color: rgb(255, 129, 129);
}

.nav {
    height: 94%;
    width: 150px;


}

.border2 {
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    padding: 0.5rem !important;



}

.border2:hover {
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 5px !important;
    padding: 0.5rem !important;
    padding-bottom: 5px !important;
    color: white;
}

.logo {
    background-image: url('amazon-logo.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.nav-sea {
    display: flex;
    justify-content: space-evenly;
    width: 790px;
    height: 90%;


}

.se {
    background-color: #e4e4e4;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-item {
    width: 100%;
    font-size: 1rem;
    border: none;



}

.search-icon {
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: rgb(255, 186, 57);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: none;



}

.return {

    height: 4rem
}

.return pre,
.nav-signin pre {
    margin-bottom: 10px;
    color: white;

    font-weight: 600;
    padding: 0.1rem;
    text-decoration: none;

}

.return :hover {
    text-decoration: none;
}

.nav-signin:hover .option {
    display: block;
    margin: -0.1rem 8rem;

}

.weblogo {
    color: white;
    font-size: 2rem;

}

.card2 {
    height: 100%;
    width: 100px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;

}

.card2 i {
    font-size: 28px;

}

.card2 p {
    margin-top: 1rem;
    font-size: 1rem;

}

.panal {
    padding: 0.5rem;
    height: 60px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.panal-ops p {
    display: inline;
    margin-left: 25px;
}

.panal-ops {
    width: 80%;
    font-size: 0.85rem;

}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 4px;

}

.filters {

    display: flex;
    flex-wrap: wrap;
    align-content: center;




}

.filter {
    text-align: center;
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 3.8rem !important;
    text-decoration: none;

}

label {
    font-size: 0.75rem;
}

.filter p {
    font-size: 0.8rem;
}

.filter:hover {
    opacity: 0.8;
    text-decoration: none;

}

.sidebar {
    margin-top: 7.5rem;
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #37475a;
    color: white;
    transition: left 0.3s;

}

.sidebar-item {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.toggleButton {
    margin-top: 0.4rem;
    font-size: 1.7rem;
    height: 2.8rem;
    margin-bottom: 0.5rem;
}

.option {
    position: absolute;
    background-color: #485769;
    width: 150px;
    color: white;
    display: none;
    margin-top: 0.6rem;
}

.same1 {
    font-size: 1rem;
    height: 3rem;

}




.back {
    height: 47px;
    background-color: #173a41;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 5rem;
}

.fut {
    height: 330px;
    background-color: #212c38;
    display: flex;
    /* justify-content: space-evenly; */

}

.f1 {
    display: flex;

    height: 90%;
    width: 35rem;
    margin-left: 5rem;
    display: block;
    color: white;
    display: flex;
    flex-direction: column;

}

.f1 a {

    font-size: 0.9rem;
    margin-top: 12px;
    text-decoration: nome;
    color: white;

}

.f1 a:hover {
    text-decoration: underline;
    color: #e2e7e6;
    margin-left: 2px;

}

.f1 a:hover i {
    color: rgb(255, 186, 57);
    margin-left: 3px;
    margin-right: 3px;
}

.f2 {
    width: 100%;
    height: 100%;

}

.bold {
    font-size: medium;
}

.bold {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 25px;

}

.l-nav {
    height: 150px;
    border-top: 1px solid rgb(52, 64, 94);
    background-color: #212c38;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.logo2 {
    background-image: url('amazon-logo.png');
    background-size: cover;
    height: 50px;
    width: 120px;
    border-radius: 7px;


}

.sec1 {
    display: flex;
    align-items: center;
    width: 45%;
    font-size: 1.1rem;
}

.eng-i p {
    margin-left: 5px;


}

.s1 {
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);

    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: white;
    font-size: 0.8rem;
    margin-left: 100px;

}

.dolr {
    width: 200px
}

.last {
    display: flex;
    height: 45px;
    justify-content: center;
    background-color: #1f252c;
    color: white;
    font-size: 0.8rem;
    align-items: center;


}

.main-content {

    min-height: 74vh;

}

.option {
    position: absolute;
    background-color: #485769;
    width: 150px;
    color: white;
    display: none;
    margin-top: 0.6rem;
}

.option a {
    display: block;
    color: #ffffff;
    padding: 15px 3rem;
    text-decoration: none;

}

.option a:hover {
    background-color: rgb(191, 190, 190);
    color: #000000;

}

.nav-signin:hover .option {
    display: block;

}

.f2 form {
    width: 40rem !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    gap: 1rem;
}

.form-label10 {
    margin-top: 2rem;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;

}

.sec1 div p {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
}